<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>CORE</title>
</head>

<body>
  <header>
    <h1> COmputación en REd - CORE</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/Posts">Posts</a>
    </nav>
  </header>
       
  <section>
    <br />
    <br />
    <form method='get' action='/posts/search'>
      
        <label for="search_string">Buscar un post:</label><br/>
        <input type="text" name="search_string" rows="1" cols="100"/>
        <input name="search" type="submit" value="Buscar"/>
    
    </form>
   <hr />
   <%- body %>
   <hr />
  </section>

  <footer>
    <p> Universidad Politécnica de Madrid. Curso 2012-2013. </p>
  </footer>
</body>
</html>
